body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

header {
    position: sticky;
    top: 0;
    z-index: 5;
}

.header {

    width: 100%;
    height: 90px;
}

.left {
    width: 50%;
    height: 90px;
    background: #009b4e;
    color: aliceblue;
    float: left;
}

.left img {
    height: 61px;
    width: 99px;
    margin-left: 38px;
    margin-top: 16px;
    cursor: pointer;
}

.tag {
    margin-left: 180px;
    margin-top: -44px;
    padding-left: 10px;
}

.tag a {
    font-weight: 500;

    text-decoration: none;
    padding-left: 40px;
    color: aliceblue;

}

.tag a:hover {
    color: black;

}

.right {
    width: 50%;
    height: 90px;
    background: #009b4e;
    float: left;
}

.logicon {
    margin-left: 648px;
    padding-top: 31px;
    font-size: 20px;
    color: white;
}

.logicon:hover {
    cursor: pointer;
    color: black;
}

.icon {
    margin-left: 410px;
    margin-top: -22px;
}

.icon i {
    padding-right: 19px;
    font-size: 20px;
    color: white;
}

.icon i:hover {
    cursor: pointer;
    color: black;
}

.second-one {

    width: 100%;
    height: 527px;
}

.second-one img {
    width: 100%;
    height: 527px;
}

.second-two {
    width: 100%;
    height: 588px;
}

.second-two img {
    width: 100%;
    height: 588px;
}

.third-one {
    width: 100%;
    height: 620px;

    position: relative;
}

.box-one {
    width: 612px;
    height: 514px;

    margin-left: 397px;
    position: absolute;
    top: 50px;
}

.head {
    color: black;
}

.head a {
    color: rgb(0, 150, 57);
    font-family: 'Roboto', sans-serif;
    font-style: italic;
    font-weight: 500;
}

.video {
    width: 100%;
    height: 30px;
}

.video iframe {
    width: 608px;
    height: 387px;
}


.fourth-one {
    width: 100%;
    height: 540px;
    background: #f7f7f8;
    position: relative;
}

.fourth-left {



    width: 700px;
    height: 450px;
    margin-left: 60px;
    margin-top: 10px;
    position: absolute;


}

.fourth-left img {
    width: 100%;

}

.fourth-right {

    width: 700px;
    height: 450px;
    margin-left: 770px;
    margin-top: 10px;
    position: absolute;

}

.fourth-right img {
    width: 100%;

}

.foot {
    width: 100%;
    height: 450px;
    background: #009b4e;
    position: relative;
}

.foot-box-1 {
    width: 590px;
    height: 178px;

    margin-left: 220px;
    position: absolute;
    margin-top: 54px;
    float: right;
}

.foot-logo {
    width: 147px;
    height: 105px;
    float: left;
    cursor: pointer;


}

.connect {
    float: left;
    margin-left: 59PX;
    margin-top: -17px;
    color: aliceblue;

}

.icon-1 {
    margin-top: 55px;
    margin-left: 320px;
    position: absolute;
}

.icon-1 i {
    padding-right: 19px;
    font-size: 30px;
    color: white;
}

.icon-1 i:hover {
    color: black;
    cursor: pointer;
}

.foot-box-2 {
    width: 202px;
    height: 260px;
    float: right;
    margin-right: 262px;
    margin-top: 45px
}

.box-2-head {
    color: white;
    margin-top: -10px;

}

.box-2-down {
    margin-left: -27px;
    margin-top: 21px;
}

.products {
    list-style: none;
    padding: 10px;



}

.products a {
    text-decoration: none;
    color: white;
}

.products a:hover {
    color: black;
}

.last {

    width: 65%;
    height: 87px;
    margin-top: 342px;
    margin-left: 315px;

    position: absolute;
}

.lhead {
    margin-top: 10px;
    margin-left: 190px;
    color: white;
    font-size: 17px;
}

.end {
    margin-left: 52px;
}

.end a {
    text-decoration: none;
    font-size: small;
    font-weight: 500;
    color: white;

}

.end p {
    color: white;
}

.end a:hover {
    color: black;
}